### 경기도 위도 경도 코드

In [5]:
import pandas as pd
import json

df = pd.read_csv("location.csv")

In [6]:
gy = df.loc[(df["do-si"] == "경기")]
gy

   do-si   sgg         lon        lat
18    경기   가평군  127.511778  37.828831
19    경기   강화군  126.490000  37.743858
20    경기   고양시  126.777056  37.655908
21    경기   과천시  126.989800  37.426372
22    경기   광명시  126.866708  37.475750
23    경기   광주시  127.257786  37.414506
24    경기   구리시  127.131864  37.591625
25    경기   군포시  126.937500  37.358658
26    경기   김포시  126.717778  37.612458
27    경기  남양주시  127.218633  37.633178
28    경기  동두천시  127.062653  37.900917
29    경기   부천시  126.766000  37.503592
30    경기   성남시  127.147719  37.447492
31    경기   수원시  127.012222  37.301011
32    경기   시흥시  126.805078  37.377319
33    경기   안산시  126.846819  37.298519
34    경기   안성시  127.281844  37.005175
35    경기   안양시  126.953356  37.389700
36    경기   양주시  127.047819  37.782450
37    경기   양평군  127.489886  37.488936
38    경기   여주군  127.652958  37.324606
39    경기   여주시  127.639622  37.295358
40    경기   연천군  127.077067  38.093364
41    경기   오산시  127.079642  37.146914
42    경기   옹진군  126.638889  37.443725
43    경기   용인시  127.203844  37.231478
44    경기   의왕시  126.970389  37.341950
45    경기  의정부시  127.035842  37.735289
46    경기   이천시  127.443219  37.275436
47    경기   파주시  126.781953  37.757083
48    경기   평택시  127.114656  36.989439
49    경기   포천시  127.202419  37.892156
50    경기   하남시  127.217000  37.536497
51    경기   화성시  126.833531  37.196817
52    경기   인천시  126.705919  37.456173

In [7]:
json_list = []

for index, row in gy.iterrows():
    data = {
        "model": "restaurants.Location",
        "pk": index-17,
        "fields": {
            "do_si": row['do-si'],
            "sgg": row['sgg'],
            "lon": str(row['lon']),
            "lat": str(row['lat'])
        }
    }
    
    json_list.append(data)

In [8]:
with open("gy_location.json", "w", encoding="utf-8") as file:
    json.dump(json_list, file, ensure_ascii=False, indent="\t")